<% layout("/layouts/boilerplate")%>





<div class="filters-container">
<div id="filters">

       

<a href="/listings?search=<%= search || '' %>" class="filter-link">
    <div class="filter <%= !category ? 'active' : '' %>">
        <i class="fa-solid fa-border-all"></i>
        <p>All</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Trending" class="filter-link">
    <div class="filter <%= category === 'Trending' ? 'active' : '' %>">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Rooms" class="filter-link">
    <div class="filter <%= category === 'Rooms' ? 'active' : '' %>">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Iconic Cities" class="filter-link">
    <div class="filter <%= category === 'Iconic Cities' ? 'active' : '' %>">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>
</a>


    <a href="/listings?search=<%= search || '' %>&category=Mountains" class="filter-link">
    <div class="filter <%= category === 'Mountains' ? 'active' : '' %>">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Castles" class="filter-link">
    <div class="filter <%= category === 'Castles' ? 'active' : '' %>">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Arctic" class="filter-link">
    <div class="filter <%= category === 'Arctic' ? 'active' : '' %>">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Camping" class="filter-link">
    <div class="filter <%= category === 'Camping' ? 'active' : '' %>">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
</a>

<a href="/listings?search=<%= search || '' %>&category=Farms" class="filter-link">
    <div class="filter <%= category === 'Farms' ? 'active' : '' %>">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div>
</a>

   <a href="/listings?search=<%= search || '' %>&category=Amazing Pools" class="filter-link">
    <div class="filter <%= category === 'Amazing Pools' ? 'active' : '' %>">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing Pools</p>
    </div>
</a>

 <a href="/listings?category=Domes" class="filter-link">
   <div class="filter <%= category === 'Domes' ? 'active' : '' %>">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
    </div>
</a>

<a href="/listings?category=Boats" class="filter-link">
    <div class="filter <%= category === 'Boats' ? 'active' : '' %>">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>Boats</p>
    </div>
</a>

</div>

    
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>

    


<% if(allListings.length === 0){ %>

<div class="text-center py-5">

    <i class="fa-solid fa-house-circle-xmark fa-4x text-secondary mb-3"></i>

    <h3>No Properties Found</h3>

    <p class="text-muted">

        Try searching with different keywords or choose another category.

    </p>

</div>

<% } else { %>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

    <% for(let listing of allListings){ %>
         <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card" >
          <img 
            src="<%= listing.image.url %>" 
            class="card-img-top" 
            alt="listing_image" 
            style="height: 20rem"
            />
          <div class="card-img-overlay d-flex justify-content-end">

    <form
        action="/wishlist/<%= listing._id %>"
        method="POST">

        <button
    class="btn border-0 bg-transparent fs-4 wishlist-btn">

    <i class="fa-regular fa-heart"></i>

</button>

    </form>

</div>
           <div class="card-body">

    <h5 class="listing-title">
        <%= listing.title %>
    </h5>

    <div class="listing-price">

        ₹<%= listing.price.toLocaleString("en-IN") %>

        <span>/ night</span>

        <i class="tax-info">
            &nbsp;&nbsp;+18% GST
        </i>

    </div>

</div>
        </div>
        </a>
       <% } %>

</div>

<% } %>    

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            }else{
                info.style.display = "none";
            }
            
        }
    });

    

</script>


